#!/usr/bin/make -f

package=snt-backup

export DH_COMPAT=1
#export DH_VERBOSE=1

export DESTDIR=$(shell pwd)/debian/tmp
export DESTDIR_HKEY=$(shell pwd)/debian/snt-backup-hostkey
export DESTDIR_UTILS=$(shell pwd)/debian/snt-backup-utils
export DESTDIR_SERVER=$(shell pwd)/debian/snt-backup-server
export DESTDIR_FILES=$(shell pwd)/debian/snt-backup-files
export DESTDIR_DUPL=$(shell pwd)/debian/snt-backup-duplicity
export DESTDIR_MYSQL=$(shell pwd)/debian/snt-backup-mysql
export DESTDIR_PGSQL=$(shell pwd)/debian/snt-backup-pgsql
export DESTDIR_DEBIAN=$(shell pwd)/debian/snt-backup-debian
export DESTDIR_SVN=$(shell pwd)/debian/snt-backup-svn
export DESTDIR_SLAPD=$(shell pwd)/debian/snt-backup-slapd

build: build-stamp
build-stamp:
	dh_testdir

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs


	### snt-backup
	install -o root -g root -m 0755 -d $(DESTDIR)/etc/snt-backup
	install -o root -g root -m 0755 -d $(DESTDIR)/usr/lib/snt-backup/lib
	install -o root -g root -m 0755 -d $(DESTDIR)/usr/lib/snt-backup/plugins
	install -o root -g root -m 0755 -d $(DESTDIR)/var/cache/snt-backup

	# config files & libraries
	for file in \
		./etc/snt-backup/config \
		./usr/lib/snt-backup/lib/base; \
	do \
		install -o root -g root -m 0644 -p root/$$file $(DESTDIR)/$$file; \
	done


	### snt-backup-hostkey
	install -o root -g root -m 0755 -d $(DESTDIR_HKEY)/etc/snt-backup

	# config files & libraries
	for file in \
		./etc/snt-backup/known_hosts \
		./etc/snt-backup/known_hosts.old; \
	do \
		install -o root -g root -m 0644 -p root/$$file $(DESTDIR_HKEY)/$$file; \
	done


	### snt-backup-utils
	install -o root -g root -m 0755 -d $(DESTDIR_UTILS)/usr/bin
	install -o root -g root -m 0755 -d $(DESTDIR_UTILS)/usr/lib/snt-backup/bin

	# executable scripts
	for file in \
		./usr/bin/dpkg-dump \
		./usr/bin/lock.pl \
		./usr/lib/snt-backup/bin/backup.sh \
		./usr/lib/snt-backup/bin/rmt-client.pl \
		./usr/lib/snt-backup/bin/build_key.sh \
		./usr/lib/snt-backup/bin/data_enc.sh \
		./usr/lib/snt-backup/bin/data_dec.sh \
		./usr/lib/snt-backup/bin/sftp \
		./usr/lib/snt-backup/bin/scp \
		./usr/lib/snt-backup/bin/snapshot-wrapper.pl; \
	do \
		install -o root -g root -m 0755 -p root/$$file $(DESTDIR_UTILS)/$$file; \
	done


	### snt-backup-files
	install -o root -g root -m 0755 -d $(DESTDIR_FILES)/etc/snt-backup/files
	install -o root -g root -m 0755 -d $(DESTDIR_FILES)/usr/lib/snt-backup/plugins
	install -o root -g root -m 0755 -d $(DESTDIR_FILES)/var/cache/snt-backup/files

	# executable scripts
	for file in \
		./usr/lib/snt-backup/plugins/files; \
	do \
		install -o root -g root -m 0755 -p root/$$file $(DESTDIR_FILES)/$$file; \
	done

	# config files & libraries
	for file in \
		./etc/snt-backup/files/DIRS \
		./etc/snt-backup/files/Default.conf \
		./etc/snt-backup/files/etc.conf \
		./etc/snt-backup/files/var.exclude; \
	do \
		install -o root -g root -m 0644 -p root/$$file $(DESTDIR_FILES)/$$file; \
	done


	### snt-backup-duplicity
	install -o root -g root -m 0755 -d $(DESTDIR_DUPL)/etc/snt-backup/duplicity/backup_points.d
	install -o root -g root -m 0755 -d $(DESTDIR_DUPL)/etc/snt-backup/duplicity/excludes.d
	install -o root -g root -m 0755 -d $(DESTDIR_DUPL)/usr/lib/snt-backup/bin
	install -o root -g root -m 0755 -d $(DESTDIR_DUPL)/usr/lib/snt-backup/plugins

	# executable scripts
	for file in \
		./usr/lib/snt-backup/bin/duplicity.pl \
		./usr/lib/snt-backup/plugins/duplicity; \
	do \
		install -o root -g root -m 0755 -p root/$$file $(DESTDIR_DUPL)/$$file; \
	done

	# config files & libraries
	for file in \
		./etc/snt-backup/duplicity/backup_points.d/snt-backup-duplicity.root_user \
		./etc/snt-backup/duplicity/backup_points.d/snt-backup-duplicity.var \
		./etc/snt-backup/duplicity/backup_points.d/snt-backup-duplicity.base \
		./etc/snt-backup/duplicity/backup_points.d/snt-backup-duplicity.homes \
		./etc/snt-backup/duplicity/backup_points.d/snt-backup-duplicity.opt \
		./etc/snt-backup/duplicity/backup_points.d/snt-backup-duplicity.usr \
		./etc/snt-backup/duplicity/backup_points.d/snt-backup-duplicity.usr_local \
		./etc/snt-backup/duplicity/excludes.d/snt-backup-duplicity.default; \
	do \
		install -o root -g root -m 0644 -p root/$$file $(DESTDIR_DUPL)/$$file; \
	done


	### snt-backup-svn
	install -o root -g root -m 0755 -d $(DESTDIR_SVN)/etc/snt-backup/svn
	install -o root -g root -m 0755 -d $(DESTDIR_SVN)/usr/lib/snt-backup/bin
	install -o root -g root -m 0755 -d $(DESTDIR_SVN)/usr/lib/snt-backup/plugins
	install -o root -g root -m 0755 -d $(DESTDIR_SVN)/var/cache/snt-backup/svn

	# executable scripts
	for file in \
		./usr/lib/snt-backup/bin/svn-incdump.pl \
		./usr/lib/snt-backup/plugins/svn; \
	do \
		install -o root -g root -m 0755 -p root/$$file $(DESTDIR_SVN)/$$file; \
	done

	# config files & libraries
	for file in \
		./etc/snt-backup/svn/repositories \
		./etc/snt-backup/svn/Default.conf; \
	do \
		install -o root -g root -m 0644 -p root/$$file $(DESTDIR_SVN)/$$file; \
	done


	### snt-backup-mysql
	install -o root -g root -m 0755 -d $(DESTDIR_MYSQL)/etc/snt-backup/mysql
	install -o root -g root -m 0755 -d $(DESTDIR_MYSQL)/etc/snt-backup/duplicity/excludes.d
	install -o root -g root -m 0755 -d $(DESTDIR_MYSQL)/usr/lib/snt-backup/plugins
	install -o root -g root -m 0755 -d $(DESTDIR_MYSQL)/var/cache/snt-backup/mysql

	# executable scripts
	for file in \
		./usr/lib/snt-backup/plugins/mysql \
		./etc/snt-backup/duplicity/excludes.d/snt-backup-mysql; \
	do \
		install -o root -g root -m 0755 -p root/$$file $(DESTDIR_MYSQL)/$$file; \
	done

	# config files & libraries
	for file in \
		./etc/snt-backup/mysql/mysql.exclude; \
	do \
		install -o root -g root -m 0644 -p root/$$file $(DESTDIR_MYSQL)/$$file; \
	done

	for file in \
		./etc/snt-backup/mysql/mysql.conf; \
	do \
		install -o root -g root -m 0600 -p root/$$file $(DESTDIR_MYSQL)/$$file; \
	done


	### snt-backup-pgsql
	install -o root -g root -m 0755 -d $(DESTDIR_PGSQL)/etc/snt-backup/pgsql
	install -o root -g root -m 0755 -d $(DESTDIR_PGSQL)/etc/snt-backup/duplicity/excludes.d
	install -o root -g root -m 0755 -d $(DESTDIR_PGSQL)/usr/lib/snt-backup/plugins
	install -o root -g root -m 0755 -d $(DESTDIR_PGSQL)/var/cache/snt-backup/pgsql

	# executable scripts
	for file in \
		./usr/lib/snt-backup/plugins/pgsql \
		./etc/snt-backup/duplicity/excludes.d/snt-backup-pgsql; \
	do \
		install -o root -g root -m 0755 -p root/$$file $(DESTDIR_PGSQL)/$$file; \
	done

	# config files & libraries
	for file in \
		./etc/snt-backup/pgsql/pgsql.conf \
		./etc/snt-backup/pgsql/pgsql.exclude; \
	do \
		install -o root -g root -m 0644 -p root/$$file $(DESTDIR_PGSQL)/$$file; \
	done

	for file in \
		./etc/snt-backup/pgsql/pgsql.pass; \
	do \
		install -o root -g root -m 0600 -p root/$$file $(DESTDIR_PGSQL)/$$file; \
	done


	### snt-backup-debian
	install -o root -g root -m 0755 -d $(DESTDIR_DEBIAN)/etc/snt-backup/debian
	install -o root -g root -m 0755 -d $(DESTDIR_DEBIAN)/usr/lib/snt-backup/plugins
	install -o root -g root -m 0755 -d $(DESTDIR_DEBIAN)/var/cache/snt-backup/debian

	# executable scripts
	for file in \
		./usr/lib/snt-backup/plugins/debian; \
	do \
		install -o root -g root -m 0755 -p root/$$file $(DESTDIR_DEBIAN)/$$file; \
	done

	# config files & libraries
	for file in \
		./etc/snt-backup/debian/pkglist.conf; \
	do \
		install -o root -g root -m 0644 -p root/$$file $(DESTDIR_DEBIAN)/$$file; \
	done


	### snt-backup-server
	install -o root -g root -m 0755 -d $(DESTDIR_SERVER)/usr/lib/snt-backup/sbin
	install -o root -g root -m 0755 -d $(DESTDIR_SERVER)/etc/snt-backup/server

	# executable scripts
	for file in \
		./usr/lib/snt-backup/sbin/checkfile.sh \
		./usr/lib/snt-backup/sbin/clean_md5.sh \
		./usr/lib/snt-backup/sbin/cleanup.sh \
		./usr/lib/snt-backup/sbin/cleanup.pl \
		./usr/lib/snt-backup/sbin/disk_full.pl \
		./usr/lib/snt-backup/sbin/list_md5.sh \
		./usr/lib/snt-backup/sbin/rmt-server.pl \
		./usr/lib/snt-backup/sbin/sh \
		./usr/lib/snt-backup/sbin/ssh_command; \
	do \
		install -o root -g root -m 0755 -p root/$$file $(DESTDIR_SERVER)/$$file; \
	done

	# config files & libraries
	for file in \
		./etc/snt-backup/server/server.conf; \
	do \
		install -o root -g root -m 0644 -p root/$$file $(DESTDIR_SERVER)/$$file; \
	done

	### snt-backup-slapd
	install -o root -g root -m 0755 -d $(DESTDIR_SLAPD)/etc/snt-backup/slapd
	install -o root -g root -m 0755 -d $(DESTDIR_SLAPD)/usr/lib/snt-backup/plugins
	install -o root -g root -m 0755 -d $(DESTDIR_SLAPD)/var/cache/snt-backup/slapd

	# executable scripts
	for file in \
		./usr/lib/snt-backup/plugins/slapd; \
	do \
		install -o root -g root -m 0755 -p root/$$file $(DESTDIR_SLAPD)/$$file; \
	done

	# config files & libraries
	for file in \
		./etc/snt-backup/slapd/slapd.conf; \
	do \
		install -o root -g root -m 0644 -p root/$$file $(DESTDIR_SLAPD)/$$file; \
	done

	for file in \
		./etc/snt-backup/slapd/slapd.secret; \
	do \
		install -o root -g root -m 0600 -p root/$$file $(DESTDIR_SLAPD)/$$file; \
	done

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installinit
	dh_installcron
	dh_installdebconf
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_perl -d $(DESTDIR)/usr/lib/snt-backup/bin/rmt-client.pl

	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
