#!/bin/sh

set -e

action=$1
version=$2

# debconf < 1.4 bug workaround.. :-/
if [ "$sntbackuppostinstisrunning" != "true" ] && \
   [ "$action" != "reconfigure" ]; then

    installeddebconfversion=`dpkg -s debconf |
      sed -ne '/^Version/s/^Version: //p'`

    if dpkg --compare-versions "${installeddebconfversion}" "le" "1.4"; then
      echo "Installed debconf version is broken. Aborting preconfigure." >&2
      exit 1
    fi
fi

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

db_capb backup

# location fixup
db_get snt-backup/location
if [ "_$RET" = "_" ]; then
  hostname="`hostname | cut -d. -f1`"
  db_set snt-backup/location "bk-$hostname@mintnop.snt.utwente.nl:/"
fi

STATE=1
LASTSTATE=2

while [ "$STATE" != 0 -a "$STATE" -le "$LASTSTATE" ]; do
  case "$STATE" in
  1)
    # use debconf to configure this package?
    db_input medium snt-backup/use_debconf || true
  ;;
  2)
    db_get snt-backup/use_debconf
    if [ "_$RET" = "_true" ]; then
      # compression
      db_input medium snt-backup/use_compression || true
      
      # encryption
      db_input medium snt-backup/use_encryption || true

      # mysql_locking
      db_input low snt-backup/use_mysql_locking || true

      # location
      db_input high snt-backup/location || true

      # hostname tag
      db_input medium snt-backup/hostname_tag || true

	  # day weekly backups
      db_input medium snt-backup/day_weekly_cleanups || true

      # Explicit plugin activation
      db_input medium snt-backup/explicit_plugin_activation || true

    fi
  ;;
  esac

  if db_go; then
    STATE=$(( $STATE + 1 ))
  else
    STATE=$(( $STATE - 1 ))
  fi
done

if [ $STATE = 0 ]; then
  exit 1
fi
